{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="field-group mb-5">
        {% if object.content_object %}
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label text-lg-end">Parent</label>
                <div class="col-sm-9">
                    <div class="form-control-plaintext">{{ object.content_object|linkify }}</div>
                </div>
            </div>
        {% endif %}
        {% render_form form %}
    </div>
{% endblock form %}
